= form_for user, url: url do |form|
  - if user.errors.any?
    .error.notification
      %ul
        - @user.errors.full_messages.each do |message|
          %li #{message}.
  - if user.persisted?
    .field
      = form.label :username
      = form.text_field :username
  .field
    = form.label :email
    - if user.persisted?
      = user.email
    - else
      = form.text_field :email
  .field
    = form.label :password
    = form.password_field :password
  .field
    = form.label :password_confirmation
    = form.password_field :password_confirmation
  .actions
    = form.submit
