!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http_equiv: 'Content-Type' }/
    %title Incubit
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', data_turbolinks_track: 'reload'
  %body
    = render 'layouts/notifications'
    - if user_signed_in?
      = link_to 'Profile', edit_profile_path
      = link_to 'Log Out', destroy_auth_session_path, method: :delete
    - else
      = link_to 'Register', new_auth_registration_path
      = link_to 'Log In', new_auth_session_path
    = yield
